@model DetailsDto
@inject JoJo_Characters.Services.IJojoService service
@{
    ViewData["Title"] = "JoJo Characters";
}

<section class="details">
    <div class="details__content container">
        <div class="details__header">
            <div class="details__char-button">
                @if (Model.Prior != null)
                {
                    <a asp-action="Details" asp-route-Nome="@Model.Prior.Nome" class="btn-lg">
                        @Model.Prior.Nome
                    </a>
                }
            </div>

            <h1 class="details__char-name">@Model.Current.Nome</h1>

            <div class="details__char-button">
                @if (Model.Next != null)
                {
                    <a asp-action="Details" asp-route-Nome="@Model.Next.Nome" class="btn-lg">
                        @Model.Next.Nome
                    </a>
                }
            </div>
        </div>

        <div class="details__body">
            <img class="details__char-img" src="@Model.Current.Imagem" alt="@Model.Current.Nome">

            <div class="details__char-infos">
                <p class="details__char-p"><strong class="details__char-title">Sexo:</strong> @Model.Current.Sexo</p>
                <p class="details__char-p"><strong class="details__char-title">Pais de nascimento:</strong> @Model.Current.PaisDeNascimento</p>
                <p class="details__char-p"><strong class="details__char-title">Altura:</strong> @Model.Current.Altura cm</p>
                <p class="details__char-p"><strong class="details__char-title">Peso:</strong> @Model.Current.Peso kg</p>
                <p class="details__char-p"><strong class="details__char-title">Raça:</strong> @Model.Current.Raça</p>
                <p class="details__char-p"><strong class="details__char-title">Stand:</strong> @Model.Current.Stand</p>
                <div>
                    <p class="details__char-p"><strong class="details__char-title">Parte:</strong></p>
                    <div class="details__char-buttons">
                        @foreach (var parte in Model.Current.Parte)
                        {
                            <a asp-action="Index" asp-route-tipo="@parte.ToLower()" class="button btn-lg" style="background-color:@service.GetParte(parte).Cor">@parte</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
