@model PersonagemDto
@inject JoJo_Characters.Services.IJojoService service
@{
    ViewData["Title"] = "Home";
}
<section class="parts">
    <div class="parts__content container">
        <img class="parts__main-title" src="~/img/logo.png" alt="">

        <div class="parts__buttons">
            <button id="btn-all" class="parts__button-all button btn-lg btn-filter" onclick="filter('all')">
                Ver Todos
            </button>

            @foreach (var parte in Model.Partes)
            {
                <button id="btn-@parte.Nome.ToLower()" class="parts__button button btn-sm btn-filter" onclick="filter('@parte.Nome.ToLower()')" style="background-color:@parte.Cor">
                    @parte.Nome
                </button>
            }
        </div>
    </div>
</section>

<section class="characters">
    <h1 class="characters__main-title">JoJo's Characters</h1>
    
    <div class="characters__content container">
        <!-- Card Character - Inicio -->
        @foreach (var personagem in Model.Personagens)
        {
            <div class="characters__cards">
                <div class="characters__card @string.Join(' ', personagem.Parte).ToLower()" onclick="GetInfo('@personagem.Nome')">
                    <img src="@personagem.Imagem" class="characters__img" alt="@personagem.Nome" />

                    <div class="characters__desc">
                        <h2 class="characters__title">@personagem.Nome</h2>

                        <div class="characters__buttons">
                            @foreach (var parte in personagem.Parte)
                            {
                                <a asp-action="Index" asp-route-tipo="@parte.ToLower()" class="characters__button button" style="background-color:@service.GetParte(parte).Cor">@parte</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
        <!-- Card Character - Fim -->
        <div id="zeroCharacter">
            <h2>Nenhum Personagem Encontrado</h2>
        </div>
    </div>
</section>

@section Scripts{
    <script src="~/js/site.js"></script>
    <script>
        let toFilter = '@Html.Raw(ViewData["Filter"])';
        filter(toFilter);
        function GetInfo(name) {
            window.location = '@Url.Action("Details", "Home")' + '?Nome=' + name;
        }
    </script>
}
